@file:Suppress("unused")
package io.swagger.client.infrastructure

import java.lang.RuntimeException

open class ApiException : RuntimeException {

    var statusCode = 0

    constructor() : super()

    constructor(message: kotlin.String) : super(message)

    constructor(message: kotlin.String, statusCode: Int) : super(message){
        this.statusCode = statusCode
    }

    companion object {
        private const val serialVersionUID: Long = 789L
    }
}